body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	background-color: #eeeeee;
	font-family: 'Source Sans Pro', sans-serif;
}

img {
	margin-right: 25px;
	height: 256px;
	width: 256px;
}

img:hover {
	opacity: 0.5;
}

h3 {
	color: #333;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: black;
}


h1 { 
	font-weight: 700;
	margin: 25px 0px;
	font-size: 40px;
	font-family: 'Merriweather', serif;
	color: #333;
}

.main {
	margin: auto;
	margin-top: 0;
	height: 100%;
	padding: 0;
	width: 960px;
}

/* MAIN */
.main-block {
	width: 960px;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 1.3rem;
	display: flex;
	flex-direction: row;
}


ul.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 20px;
	margin-left: -20px;
}

.navigation li {
	display: inline;
	margin-right: 15px;
	font-size: 16px;
	color: #333;
}

.navigation a {
	text-decoration: none;
	color: #333;
}

.navigation a.active {
	color: #c7071f;
}

