body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: row;
	background-color: #eeeeee;
  font-family: 'Sans-serif';
}

img {
  margin-right: 25px;
  height: 256px;
  width: 256px;
}

img:hover {
  opacity: 0.5;
}

h3 {
  color: #333;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: black;
}

.sidebar {
  flex-grow: 1;
  max-width: 200px;
  height: 100%;
  background-color: #555c70;
}

.main {
  flex-grow: 5;
  height: 100%;
}

/* SIDEBAR */
.sidebar-title {
  margin-top: 20px;
  margin-right: 20px;
  font-size: 28px;
  margin-bottom: 20px;
  color: #AFB2BB;
  font-weight: bold;
}

.sidebar-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.sidebar-ul a {
  margin-right: 20px;
  color: #AFB2BB;
}

.sidebar-ul a:hover{
  color: pink;
}
.sidebar-ul a.active{
  color: pink;
}

/* MAIN */
.main-block {
  width: 800px;
  margin-left: 30px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.3rem;
  display: flex;
  flex-direction: row;
}
